<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title> FSE Chat Room </title>
        <link rel="stylesheet" href="styles.css"/>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
        <script src="chat.js"></script>
    </head>
    <body>
        <div class="mainContainer">
            <div class="contentSection">
                <div class="headerSection">
                    <div class="pull-left"> FSE Chat Room </div>
                    <div class="pull-right"><a class="logout" href="/"> Logout</a></div>
                    <div class="clear-float"></div>
                </div>
                <p class="nickname"><%= userName %></p>
                <div id="chatMessageArea" class="chatMessageArea">
                    <% oldposts.forEach(function(oldpost){ %>
                    <div class="oldpost">
                        <p class="oldpostUser pull-left"><%=oldpost.userName%></p>
                        <p class="oldpostTime pull-right"><%=oldpost.timeStamp %></p>
                        <div class="clear-float"></div>
                        <p class="oldpostMessage"><%=oldpost.message%></p>
                    </div>
                    <% }) %>
                </div>
                <div class="postMessageSection">
                    <div class="postMessageArea">
                        <textarea id="postMessage" class="postMessage"></textarea>
                    </div>
                    <div class="sendPostSection">
                        <button id="sendMessageButton" class="postButton">Send</button>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>