<!DOCTYPE html>


<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> FSE Chat Room </title>
		<link rel="stylesheet" href="styles.css"/>
	</head>

	<body>

		<div class="mainContainer">	

			<div class="registerBlock createUserBlockHeight">	
				<div class="registerHeader">Register</div>

				<p class="pageMessage"><%= pageMessage %></p>		

				<form class="createUserForm" id="createUser" action='/createUser' method="POST">

					<div class="fieldMargin">
						<label class="createUserFieldsLabel">First Name:</label>
						<input class="createUserFieldsInput" type="text" name="firstName" maxlength="20"/>
					</div>
					<div class="fieldMargin">
						<label class="createUserFieldsLabel">Last Name:</label>
						<input class="createUserFieldsInput" type="text" name="lastName" maxlength="20"/>
					</div>
					<div class="fieldMargin">
						<label class="createUserFieldsLabel">Username:</label>
						<input class="createUserFieldsInput" type="text" name="userName" maxlength="20"/>
					</div>
					<div class="fieldMargin">
						<label class="createUserFieldsLabel">Password:</label>
						<input class="createUserFieldsInput" type="password" name="password" maxlength="20"/>
					</div>
					<div class="buttonSection">
						<input " type="submit" value="Create User"/>
					</div>

				</form>
			</div>

		</div>

	</body>

</html>